.botonesLogin{
    -fx-background-color: #5FC2ED;
    -fx-background-radius: 8px;
    -fx-pref-height: 40px;
    -fx-pref-width: 140px;
}

.botonesLogin:hover{
    -fx-background-color: #B0E1F6;
}

.botonesLogin:pressed{
    -fx-background-color: #4D9DC0;
}

#fondoTitulo{
    -fx-background-color: #5FC2ED;
}

#etiqueta:pressed{
    -fx-underline: false;
}

#etiqueta:hover{
    -fx-underline: true;
    -fx-cursor: hand;
}

#contenedorC{
    -fx-border-color: #000000;
    -fx-border-radius: 8px;
}

.container_bolsa{
    -fx-border-color: #000000;
    -fx-border-radius: 8px;
}

#btnPasarB{
    -fx-background-color: #83F981;
    -fx-pref-height: 30px;
    -fx-pref-width: 150px;
}

#eliminarLD{
    -fx-background-color: #FB8181;
    -fx-pref-height: 30px;
    -fx-pref-width: 152px;
}